* {
  margin: 0;
  padding: 0;
  font-family: 'georgian-font', sans-serif;
}

body {
  height: 100vh;
}

@font-face {
  font-family: 'georgian-font';
  src: url('./Fonts/bpg_extrasquare_mtavruli_2009.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 1.33vw;
  font-display: fallback;
}

html {
  overflow-x: hidden;
}
